.App {
  display: flex;
}

#app-div {
  width: 70%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

#app-div-header {
  text-align: center;
}

#search-input {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
  display: block;
}

#search-button {
  margin: 0 auto;
  width: 50%;
  height: 40px;
  display: block;
  background-color: white;
  border: 2px solid black;
  margin-bottom: 40px;
}

#search-button:hover {
  background-color: blue;
  cursor: pointer;
}

#movie {
  margin-bottom: 40px;
  padding-bottom: 20px;
  padding-right: 20px;
  border: 2px solid grey;
}

#movie-title {
  text-align: center;
}

#movie-year {
  text-align: center;
}

#movie-poster {
  width: 25%;
  height: 25%;
  margin: 0 auto;
  margin-bottom: 5%;
  display: block;
}

#movie-poster:hover {
  cursor: pointer;
}

#movie-plot {
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}

#toggle-info-button {
  margin: 0 auto;
  width: 50%;
  height: 10%;
  display: block;
  background-color: white;
  border: 2px solid black;
  margin-bottom: 20px;
}

#toggle-info-button:hover {
  background-color: blue;
  cursor: pointer;
}

#toggle-info-button-show {
  display: block;
}

#toggle-info-button-hide {
  display: none;
}


#info-div {
  display: none;
}

#info-ul {
  list-style: none;
}

.info-li-info {
  float: right;
}

#hide-info-button {
  margin: 0 auto;
  width: 50%;
  height: 10%;
  display: block;
  background-color: white;
  border: 2px solid black;
  margin-bottom: 20px;
}

#hide-info-button:hover {
  background-color: blue;
  cursor: pointer;
}

#recommend-button {
  margin: 0 auto;
  width: 50%;
  height: 30px;
  display: block;
  background-color: white;
  border: 2px solid black;
}

#recommend-button:hover {
  background-color: blue;
  cursor: pointer;
}

#unrecommend-button {
  margin: 0 auto;
  width: 50%;
  height: 30px;
  display: block;
  background-color: green;
  border: 2px solid black;
}

#unrecommend-button:hover {
  background-color: blue;
  cursor: pointer;
}

#recommended-header {
  text-align: center;
}

#recommended-empty-note {
  text-align: center;
}

#recommended-ul {
  list-style: none;
  padding: 0;
}

.recommended-li {
  display: inline-block;
  width: 20%;
  margin: 5%;
}

.recommended-movie-div {
  display: inline-block;
}

.recommended-movie-header {
  text-align: center;
}

.recommended-movie-poster {
  width: 100%;
  height: 100%;
}