.App {
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
}

#app-div {
  width: 70%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

#search-input {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 5%;
  display: block;
}

#search-button {
  margin: 0 auto;
  width: 50%;
  height: 5%;
  display: block;
  background-color: white;
  border: 2px solid black;
}

#search-button:hover {
  background-color: blue;
  cursor: pointer;
}

#movie {
  text-align: center;
}

#movie-poster {
  width: 25%;
  height: 25%;
  margin-bottom: 5%;
}

#recommend-button {
  display: block;
  width: 50%;
  margin: 0 auto;
}